<br />

<div class="booyah-box col-10 offset-1">
  <h1>This application was created by Morgan Smith, an upcoming web developer!</h1>

  <p>
    With the help of her program at Columbia University's Coding Bootcamp.
  </p>

  <div class="portfoilo">
    <p> 
      <a href="https://msprogramming.netlify.com">Follow this link to learn more about Morgan!</a><br />
    </p>
  </div>
</div>

